li,ul,nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(background.jpg);
    background-size: cover;
    background-position: 100%;
}

.jumbotron {
    background-color: rgb(91, 189, 250);
    color: white;
}

.navbar {
    background-color: rgb(91, 189, 250);
    font-size: 20px;
}

#contact {
    background-color: purple;
}

.header {
    font-size:25px;
    color: white;
    background-color: rgb(91, 189, 250);
    padding: 10px 40px;
    opacity: 0.95;
}

#search {
    width: 10rem;
    height: 2.2rem;
    border: 3px solid #2e89ad;
    font-size: 17px;
    padding: 6px 12px;
    border-radius: 3px;
    transition: width 2s;
}

#search:focus {
    width: 13rem;
    transition-timing-function: linear;
}

.searchbutton {
    background-color: #40b6e6;
    border: 2px solid #2e89ad;
    color: white;
    height: 2.2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    border-radius: 6px;
    transition-duration: 0.4s;
}

.searchbutton:hover {
    background-color: white;
    color: #2e89ad;
    border: 2px solid #2e89ad;
}

.sidebar-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.searchbar {
    float: right;
}

.head {
    align-items: space-evenly;
}



.foot-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer {
    background-color: rgb(91, 189, 250);
    padding: 40px 10px;
    font-size: 23px;
}

/* CONTACT US CSS */

/* .query1 {
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    color: white;
    background-color: rgb(91, 189, 250);
    text-shadow: 1px 1px 2px black;
   
    border: 2px solid #2e89ad;
}

.query2 {
    font-size: 20px;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px black;
}

.button {
    background-color: #2e89ad;
    border: 2px solid #2e89ad;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 6px;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: white;
    color: #2e89ad;
    border: 2px solid #2e89ad;
} */

.container form{
    padding: 68px 15px 72px !important;
}

/* .wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 350px;
    width: 100%;
    background: cornsilk;
    padding: 25px;
    border-radius: 5px;
}  */
/* .container form h3 {
    font-family: "proxima-nova", sans-serif;
    font-weight: 100 !important;
    text-transform: capitalize;
    font-size: 65px;
    margin-bottom: 20px;
    text-align: center;
} */

.control-group {
  margin-bottom: 15px;
}

.button {
    width: 100px;
}

.form {
  margin-top: 25px;
  margin-bottom: 25px;
}

#error_message{
    color: red;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
}

#h3 {
    color: #fff;
}
.container p {
    font-style: normal !important;
    color: #fff;
    font-size: 20px;
    letter-spacing: 0px;
}
.comment{
height: 200px;
width: 100px;
}

.parallax {
    background-attachment: inherit !important;
}
.parallax {
    background-attachment: inherit !important;
    background-repeat: repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    z-index: -10;
    height: 300px
}

.theme-selector {
  display: none;
}

.contact-page-form h3 {
    font-size: 26px;
    font-weight: bold;
    text-transform: capitalize;
}

 #fnamesname {
    width: 25rem;
    height: 2.5rem;
    margin: 0.5%;
    border: 2px solid black;
    border-radius: 3px;
}

#email {
    width: 25rem;
    height: 2.5rem;
    margin: 0.5%;
    border: 2px solid black;
    border-radius: 3px;
}

#subject {
    width: 25rem;
    height: 2.5rem;
    margin: 0.5%;
    border: 2px solid black;
    border-radius: 3px;
} 

#name {
    width: 25rem;
    height: 2.5rem;
    margin: 0.5%;
    border: 2px solid black;
    border-radius: 3px;
} 

#lname {
    width: 25rem;
    height: 2.5rem;
    margin: 0.5%;
    border: 2px solid black;
    border-radius: 3px;
} 

#phone {
    width: 25rem;
    height: 2.5rem;
    margin: 0.5%;
    border: 2px solid black;
    border-radius: 3px;
} 

#comment {
    width: 25rem;
    padding: 0 0 95px 0;
    margin-top: 0.5%;
    border: 2px solid black;
    border-radius: 3px;
}

#comment:focus {
    text-align: initial;
}

#btn {
    background-color: rgb(91, 189, 250);
}

/* .information {
    display: flex;
    justify-content: space-evenly;
    padding: 40px 10px 40px 10px;
    background-color: #40b6e6;
} */

/* .phone {
     display:flex;
    background-color: rgb(167, 167, 167);
    width: 16rem;
    height: 16rem;
}

.email {
    display:flex;
    background-color: rgb(167, 167, 167);
    width: 16rem;
    height: 16rem;
}

.location {
    display:flex;
    background-color: rgb(167, 167, 167);
    width: 16rem;
    height: 16rem;
} */

.fa {
    padding: 1px;
    font-size: 50px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 5px;
}
  
.fa:hover {
  opacity: 0.7;
  color: antiquewhite;
}

.fa-instagram {
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
    color: white;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}